.secondary-header {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: $letter03;
    margin-bottom: 30px;
    margin-top: 0;
}
