.container {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;

  .footer & {
  display: flex;
}

.header & {
  display: flex;
  align-items: center;
  height: 80px;
}

 @media (min-width: 1200px) {
    width: 1200px;
  }
}